/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder { 
    font-style: italic; 
 }
.statusbar-overlay {
    background: #68b3e4;
}
.panel-left {
    background-color: #68b3e4;
}
.panel-left p {
    font-size: 12pt;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
.panel-left hr {
    border-top: 0px solid #8b8b8c;
}
.panel-left a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-decoration: none;
}
.panel-left a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-decoration: none;
}
.panel-footer {
    position: absolute;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 24pt;
}
.panel-footer-version {
    margin-left: 1em;
    font-size: 12pt;
    font-weight: bold;
}
.panel-left .x-close-panel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}
.panel-left .gettingStartedVideosClose {
    font-size: 24pt;
    font-weight: bold;
}
.input-printer {
    float: left;
    width: 90%;
    height: 30px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
.button-fiftypercent {
    float: left;
    width: 45%;
    height: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.button-hundredpercent {
    float: left;
    width: 95%;
    height: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.button-blue {
    background-color: #5098cc;
}
.button-green {
    background-color: #50cc98;
}
.button-gray {
    background-color: #a8a8a8;
}
.button-red {
    background-color: #bf3b1c;    
}
.background-gray {
    background-color: #eeeeee;
}
.background-white {
    background-color: white;
}
.no-top-margin {
    margin-top: -35px;
}
.no-left-padding {
    padding-left: 0px;
}

.backgroundimg {
    height: 50%;
    width: 100%;
    background: url('../img/c2-r2-header.jpg');
    background-size: cover;
    position: absolute;
    -webkit-filter: blur(3px);
}
.webcamimg {
    height: 100%;
    width: 100%;
    background: url('../img/c2-r2-header.jpg');
    background-size: cover;
    position: absolute;
}
.after-background {
    margin-top: 320px;
}
.after-webcam {
    margin-top: 0px;
}
.button-file .img-file {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
.button-motors {
    margin-right: 3px;
    display: inline-block;
    width: 22%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
}
.button-jog {
    margin-right: 3px;
    display: inline-block;
    width: 22%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    margin-bottom: 4px;
    text-align: center;
    height: 50px;
}
.button-action {
    margin-right: 5px;
    display: inline-block;
    width: 30%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}
.textarea-report {
    font-style: italic;
}
.textarea-report:focus {
    font-style: normal;
}
.button-app-settings {
    margin-right: 5px;
    display: inline-block;
    width: 82%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}
a.item-content.item-link.a-button-delete {
    width: 15%;
    float: right;
    padding-left: 0px;
}
.button-delete {
    background-color: #bf3b1c;
    margin-right: 5px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}
a.item-content.item-link.a-button-addprinter {
    width: 100%;
    padding-left: 0px;
}
.button-addprinter {
    margin-right: 5px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}
.button-send {
    margin-right: 5px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}
.button-preheat {
    margin-right: 5px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}
.button-webcam {
    margin-right: 5px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    height: 50px;
}

/* ---------------------------------------------------------------------------- */
/* Apple Safari Portrait 768x10024 - iPad II
   !!! Reverses height as width in landscape !!! */
/* ---------------------------------------------------------------------------- */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .backgroundimg {
        height: 50%;
        width: 100%;
    }
    .webcamimg {
        height: 75%;
        width: 100%;
    }
    
}
/* ---------------------------------------------------------------------------- */
/* iPhone 5 Portrait 320x568 - Android Alcatel onetouch 320x534 */
/* ---------------------------------------------------------------------------- */
/*@media all and (min-width: 0) and (max-width: 320px) and (orientation: portrait) {
    .webcamimg {
        height: 75%;
        width: 100%;
    }
} */  
/* ---------------------------------------------------------------------------- */
/* iPhone 5 Landscape 568x320 - Android Alcatel onetouch 320x534 */
/* ---------------------------------------------------------------------------- */
@media all and (min-width: 0) and (width: 568px) and (orientation: landscape) {
    .after-background {
        margin-top: 80px;
    }
}
